<!DOCTYPE html>
<html>

<head>
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
    <noscript>
        <style type="text/css">
            .pagecontainer {
                display: none;
            }

            .disabledjs {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }

            p {
                margin: 10px 0;
            }
        </style>
        <div class="disabledjs">
            <p>This website requires js to work correctly.</p>
            <p>To enable it follow
                <a href="http://enable-javascript.com/" target="_blank">www.enable-javascript.com</a>.
            </p>

        </div>
    </noscript>

    <div class="pagecontainer">
        About
    </div>
</body>

</html>