extends layout

block meta
  title= self.htmlWebpackPlugin.options.index.title
    meta(
          property="og:title"
          content=self.htmlWebpackPlugin.options.index.title
        )
        //-   meta(
        //-   property="og:type"
        //-   content="website"
        //- )
        //-   meta(
        //-   property="og:url"
        //-   content="content"
        //- )
        //-   meta(
        //-   property="og:image"
        //-   content=self.htmlWebpackPlugin.options.title
        //- )
block content
  include partials/header.pug
  include partials/dev.pug
      