.dev
    .container
        section
                .headings
                    h1="This is a h1 heading."
                    h2="This is a h2 heading."
                    h3="This is a h3 heading."
                    p="This is a paragraph. Up is opinion message manners correct hearing husband my. Disposing commanded dashwoods cordially depending at at. Its strangers who you certainty earnestly resources suffering she. Be an as cordially at resolving furniture preserved believing extremity. Easy mr pain felt in. Too northward affection additions nay. He no an nature ye talent houses wisdom vanity denied."
                .picture
                    .image