header
    nav
        a(  class="logo"
            href="/"
        )
            img(inline
            src="./src/images/logo.svg")
        each link,index in self.htmlWebpackPlugin.options.header
            a(href=self.htmlWebpackPlugin.options.pages[index]+".html")= link