header
    .container
        .header--nav
            a(href="/")
                img(inline src="./src/images/logo.svg")
            .header--links
                a Elements
                a Headings
                a Gallery
                a Form