// @MadeByMike Fluid Typography Sass Mixin
// Codepen https://codepen.io/MadeByMike/pen/vNrvdZ
// Indrek Pass also has a fantastic mixin here: http://sassmeister.com/gist/7f22e44ace49b5124eec
@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
    & {
        @each $property in $properties {
            #{$property}: $min-value;
        }
        @media screen and (min-width: $min-screen) {
            @each $property in $properties {
                #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value);
            }
        }
        @media screen and (min-width: $max-screen) {
            @each $property in $properties {
                #{$property}: $max-value;
            }
        }
    }
}

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
    $a: ($max-value - $min-value) / ($max-screen - $min-screen);
    $b: $min-value - $a * $min-screen;
    $sign: "+";
    @if ($b < 0) {
        $sign: "-";
        $b: abs($b);
    }
    @return calc(#{$a*100}vw #{$sign} #{$b});
}

html {
    @include interpolate(font-size, $min_width, $max_width, 28px, 28px);
}

h1,
h2,
h3,
h4,
h5,
p {
    @include interpolate((margin-top, margin-bottom), 20rem, 110rem, $min_margin, $max_margin);
}

h1 {
    @include interpolate((font-size), $min_width, $max_width, $h1_min, $h1_max);
    font-weight: $h1_weight;
}

h2 {
    @include interpolate((font-size), $min_width, $max_width, $h2_min, $h2_max);
    font-weight: $h2_weight;
}

h3 {
    @include interpolate((font-size), $min_width, $max_width, $h3_min, $h3_max);
    font-weight: $h3_weight;
}

p {
    @include interpolate((font-size), $min_width, $max_width, $p_min, $p_max);
    font-weight: $p_weight;
}

a {
    @include interpolate((font-size), $min_width, $max_width, $a_min, $a_max);
    font-weight: $a_weight;
}